<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>MyFirstAPI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ResidentServlet</servlet-name>
    <servlet-class>com.revature.servlets.ResidentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResidentServlet</servlet-name>
    <url-pattern>/resident/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChallengeServlet</display-name>
    <servlet-name>ChallengeServlet</servlet-name>
    <servlet-class>com.revature.servlets.ChallengeServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChallengeServlet</servlet-name>
    <url-pattern>/challenge/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChallengeServletLogout</display-name>
    <servlet-name>ChallengeServletLogout</servlet-name>
    <servlet-class>com.revature.servlets.ChallengeServletLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChallengeServletLogout</servlet-name>
    <url-pattern>/challenge/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormServlet</display-name>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>com.revature.servlets.FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/submit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChallengeFormServlet</display-name>
    <servlet-name>ChallengeFormServlet</servlet-name>
    <servlet-class>com.revature.servlets.ChallengeFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChallengeFormServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>com.revature.servlets.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/my</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorServlet</display-name>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>com.revature.servlets.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>
  
  <error-page>
  	<exception-type>java.lang.Exception</exception-type>
  	<location>/error</location>
  </error-page>
  
</web-app>